<div class="grid">

    <div class="col-12">
        <div class="flex justify-content-center align-content-center text-align-center">
            <!--INICIO LOGIN -->
             <form>
                <p-card styleClass="mt-10" header="Login" subheader="Faça login com sua conta existente">
                    
                <div class="flex justify-content-center align-content-center text-align-center">
                    <input type="email" pInputText placeholder="Email">
                </div>

                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="password" pInputText placeholder="Senha">
                </div>

                <div class="card flex justi-content-center mt-3">
                    <button
                     type="submit" 
                     pButton
                     pRipple 
                     label="Login"
                    ></button>
                </div>
                <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold">
                Criar Conta
                </span>
            </p-card>
             </form>
             <!--FIM LOGIN-->
             <!--INICIO SIGNUP-->
             <form>
                <p-card styleClass="mt-10" header="Criar Conta" subheader="Crie já sua conta gratuita!">
                    
                <div class="flex justify-content-center align-content-center text-align-center">
                    <input type="text" pInputText placeholder="Nome">
                </div>
                
                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="email" pInputText placeholder="Email">
                </div>
                
                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="password" pInputText placeholder="Senha">
                </div>

                <div class="card flex justi-content-center mt-3">
                    <button
                     type="submit" 
                     pButton
                     pRipple 
                     label="Criar Conta"
                    ></button>
                </div>
                <span
                class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
                >
                Fazer Login
                </span>
            </p-card>
             </form>
             <!--FIM SIGNUP--> 
        </div>
    </div>

</div>
